@import "tailwindcss";

html,
body {
  background-color: var(--color-slate-100);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: system-ui, -apple-system, "PingFang TC", "Microsoft JhengHei", sans-serif;
}
